@import "./variable";
$primary: rgb(30, 153, 253);
$black: #333;
$white: #f9f9f9;
$radius: 3px;
$normal-height: 43px;
$border-width: .1rem;
@function font-size($index: 1) {
    @if($index == 1) {
        @return 1.2rem;
    }
    @if($index == 2) {
        @return 1.4rem;
    }
}
%focus {
    position: relative;
    transition: .3s color, .3s font-weight;
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: .2s background-color;
        content: '';
    }
    &:focus ,
    &:hover {
        font-weight: 700;

        &::before {
            background: rgba($primary, .3);
        }
    }

    &[ux] {
        color: $primary;
    }
}
html {
    font: {
        size: 62.5%;
    };
}
body {
    font: {
        family: $font-family;
    }
}
button {
    outline: none;
}
ux-tab {
    > [slot="tab"] {
        @extend %focus;
        height: $normal-height;
        padding: 0 1rem;
        color: $black;
        font-size: font-size(2);
        border: {
            top: $border-width solid $primary;
            left: 0;
            right: $border-width solid $primary;
            bottom: $border-width solid $primary;
        }
        background: none;

        &:first-child {
            border: {
                top-left-radius:$radius ;
                bottom-left-radius:$radius ;
                left: $border-width solid $primary;
            }
        }
        &:last-of-type {
            border: {
                top-right-radius:$radius ;
                bottom-right-radius:$radius ;
            }
        }
    }
    >[slot="panel"] {
        padding: 1rem;
        font: {
            size: 1.4rem;
        } ;
    }
}
ux-select {
    width: 15rem;
    height: $normal-height;
    border-radius: $radius;
    color: $primary;
    font-size: font-size();
    border-color: $primary;
    > * {
        @extend %focus;
    }
    [slot="option"] {
        height: $normal-height;
    } 
}