:host {
    display: block;
    color: #fff;
    background: #000;
    font-size: 30px;

    .tabsSlot {
        display: flex;

        &::slotted(*) {
            flex: 1
        }
    }

    .panelsSlot {
        &::slotted(*) {
            display: none;
        }
    }
}    